<app-head></app-head>
<app-header></app-header>
<div  style="color: red; font-weight: bold"></div>
<form method="post"  action="/facilities/save-facility/" class="form-control">
  <fieldset>
    <legend class="text-center fw-bold">NEW FACILITY CREATION FORM</legend>
    <table class="table" >
      <tr>
        <td>Name</td>
        <td><input></td>
        <td></td>
      </tr>
      <tr>
        <td>Area</td>
        <td><input required></td>
        <td ></td>
      </tr>
      <tr>
        <td>Cost</td>
        <td><input required></td>
        <td></td>
      </tr>
      <tr>
        <td>Max People</td>
        <td><input  required></td>
        <td ></td>
      </tr>
      <tr>
        <td>Standard Room</td>
        <td><input  required></td>
        <td ></td>
      </tr>
      <tr>
        <td>Description Other Convenience</td>
        <td><input required></td>
        <td ></td>
      </tr>
      <tr>
        <td>Pool Area</td>
        <td><input required></td>
        <td ></td>
      </tr>
      <tr>
        <td>Number of Floor</td>
        <td><input required></td>
        <td ></td>
      </tr>
      <tr>
        <td>Facility Free</td>
        <td><input required></td>
        <td ></td>
      </tr>
      <tr>
        <td>Rent Type</td>
        <td>
          <select required>
            <option ></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Facility Type</td>
        <td>
          <select>
            <option></option>
          </select>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a role="button" class="btn btn-secondary" href="/facilities">Cancel</a>
          <button type="submit" class="btn btn-success">Create</button>
        </td>
      </tr>
    </table>
  </fieldset>
</form>
<app-footer></app-footer>
