<div style="color: red; font-weight: bold"></div>
<form method="post" action="/customers/save-customer/" class="form-control">
  <fieldset>
    <legend class="text-center fw-bold">NEW CUSTOMER CREATION FORM</legend>
    <table class="table" >
      <tr>
        <td>Name</td>
        <td><input ></td>
        <td></td>
      </tr>
      <tr>
        <td>Birthday</td>
        <td><input required></td>
        <td></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>
          <select required>
            <option value= "true" >Nam</option>
            <option value= "false">Nu</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>ID Card</td>
        <td><input required></td>
        <td></td>
      </tr>
      <tr>
        <td>Phone Number</td>
        <td><input required></td>
        <td></td>
      </tr>
      <tr>
        <td>Email/td>
        <td><input required></td>
        <td></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><input required></td>
        <td></td>
      </tr>
      <tr>
        <td>Customer Type</td>
        <td>
          <select required>
            <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a role="button" class="btn btn-secondary" href="/customers">Cancel</a>
          <button type="submit" class="btn btn-success">Create</button>
        </td>
      </tr>
    </table>
  </fieldset>
</form>
